/**
Original source: https://v4-alpha.getbootstrap.com/examples/carousel/
Adapted
*/

body {
  padding-top: 3.4rem; /* nav bar */
  color: #5a5a5a;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;

  width: 70%;
  background-color: rgba(0, 0, 0, .5);
}

.carousel-caption h1 {
  font-size: 2rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 24rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;

  margin: auto;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2.5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/*
Additional styles
--------------------------------------------------
*/

.be-page {
  padding-top: 3rem;
}

.be-page h1 {
  margin-bottom: 1.5rem;
}

.be-page h2 {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #bbb;

  margin-bottom: 1rem;
}

.be-page h3 {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid #dedede;

  margin-bottom: 0.75rem;
}

.be-page h4 {
  padding-top: 1.25rem;
  margin-top: 1.25rem;

  margin-bottom: 0.5rem;
}

.be-page table {
  margin-bottom: 1rem;
}

.be-page td {
  padding-right: 0.5rem;
}

.be-footer {
  margin-top: 2.5rem;
  padding: 1.5rem 0;
  border-top: 1px solid #cccccc;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 576px) {

  .carousel-item {
    height: 32rem;
  }

  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {

  .carousel-item > img {
    width: auto;
    height: 32rem;

    margin: 0 auto;
  }

}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 5rem;
  }
}
